<header>
    <nav>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
        {{else}}
        <a href="/login">Loing</a>
        <a href="singup">Sing Up</a>
        {{/if}}
    </nav>
</header>