<h2>Login</h2>
<form id="login-form" class="login-form">
    <input type="text" id="email-login" name="email" placeholder="Email">
    <input type="password" id="password-login" name="password" placeholder="Password">
    <button type="submit">Login</button>
</form>

<script src="/js/login.js"></script>