<h2>Sign Up</h2>
<form id="signup-form" class="signup-form">
    <input type="text" id="username-signup" name="username" placeholder="Username">
    <input type="text" id="email-signup" name="email" placeholder="Email">
    <input type="password" id="password-signup" name="password" placeholder="Password">
    <button type="submit">Sign Up</button>
</form>

<script src="/js/signup.js"></script>